<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finki.mobilniproekt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cook_book_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cook_book_green_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:name="com.finki.mobilniproekt.AdGlobal">

        <activity android:name="com.finki.mobilniproekt.ListActivity"/>
        <activity android:name="com.finki.mobilniproekt.RecipeDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.finki.mobilniproekt.MainMenuActivity" android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.finki.mobilniproekt.RecipeDetailsOfflineActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.finki.mobilniproekt.FavoritesActivity" />
        <activity android:name="com.finki.mobilniproekt.AboutUsActivity"  />

        <activity android:name="com.finki.mobilniproekt.SearchActivity"  android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.finki.mobilniproekt.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.finki.mobilniproekt.SignInOptionsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.finki.mobilniproekt.SignUpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.finki.mobilniproekt.SignInWithMailActivity" android:screenOrientation="portrait"/>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

    </application>

</manifest>